<div class = "row" style="margin-top: 10px">
    <div class="column-left"><h1 style = "padding-top: 10px; padding-left: 20px;">Voucher List</h1></div>
    <div class = "column-right">
        <button mat-raised-button style="float: right" color="primary" (click)= "openEditDialog(undefined, 'create')">
            Add Voucher
        </button>
    </div>
</div>

<mat-table [dataSource]="vouchers" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Voucher Id</mat-header-cell>
        <mat-cell *matCellDef="let cell">{{cell.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Voucher Name</mat-header-cell>
        <mat-cell *matCellDef="let cell">{{cell.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="posted_date">
        <mat-header-cell *matHeaderCellDef>Posted Date</mat-header-cell>
        <mat-cell *matCellDef="let cell">{{cell.posted_date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="expiry_date">
        <mat-header-cell *matHeaderCellDef>Expiry Date</mat-header-cell>
        <mat-cell *matCellDef="let cell">{{cell.expiry_date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let cell">{{cell.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="claims_left">
        <mat-header-cell *matHeaderCellDef>Claims Left</mat-header-cell>
        <mat-cell *matCellDef="let cell">{{cell.claims_left}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row matRipple *matRowDef = "let cell; columns: tableColumns;" (click)="openEditDialog(cell, 'edit')"></mat-row>
</mat-table>
<mat-paginator class="mat-elevation-z8" [pageSizeOptions] = "[10, 25, 50]" showFirstLastButtons></mat-paginator>
