<div style="margin: 10px 10px; height: 85%; display: flex; align-items: center; justify-content: center; background-color: yellow;">
    <table >
        <tr>
            <td>
                Organization
            </td>
            <td>
                <span>: </span>
                <select name="" id="">
                    <option value="">haha</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                Username
            </td>
            <td>
                <span>: </span>
                <input type="text">
            </td>
        </tr>

        <tr>
            <td>
                Password
            </td>
            <td>
                <span>: </span>
                <input type="text">
            </td>
        </tr>
    </table>
</div>
