.container {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: var(--primary);
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    top: -100%;

    &.open {
        top: 0;
    }
}

.wrapper {
    color: #fff;
    margin-top: 64px;
    margin-bottom: 16px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 50px);
}

.link {
    display: flex;
    padding-left: 32px;
    align-items: center;
    justify-content: left;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    color: #fff;
    cursor: pointer;

    &:hover {
        color: red;
    }
}
