.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container input {
    height: 54px;
    border-radius: 8px;
    border: var(--gray-lines) 1px solid;
    padding: 24px 16px 4px 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &:hover {
        border: var(--gray-lighter) 1px solid;
    }

    &:focus {
        box-shadow: 0 0 0 3px #79b1ff;
    }

    &.inputError {
        border: var(--danger) 1px solid;
    }
}

.container label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
    top: -4px;
}

.container:focus-within label {
    transform: translate(0, 12px) scale(0.8);
    color: #0a53e4;

    &.labelError {
        color: var(--danger) !important;
    }
}

.container .filled {
    transform: translate(0, 12px) scale(0.8);
}

.container .error {
    color: var(--danger);
    margin-top: var(--spacing-2xs);
}
