.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.container input {
    height: 54px;
    border-radius: 8px;
    border: black 1px solid;
    padding: 24px 16px 4px 16px;
    font-size: 16px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &:focus {
        box-shadow: 0 0 0 2px #79b1ff;
    }
}

.container label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
    top: -4px;
}

.container:focus-within label {
    transform: translate(0, 12px) scale(0.8);
    color: #0a53e4;
}

.container .filled {
    transform: translate(0, 12px) scale(0.8);
}
