.container {
    margin: 5vh 16px;
}

.imgContainer {
    display: flex;
    margin-left: 5vw;
    justify-content: center;
    align-items: center;
}

.linkTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--spacing-md);
}

.linkTextContainer .btnLeft {
    width: 49%;
    margin-right: 4px;
    margin-top: 1px;
    text-align: right;
}

.linkTextContainer .btnRight {
    width: 49%;
    margin-left: 4px;
    margin-top: 1px;
    text-align: left;
}

.linkTextContainer .or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--gray-lines);
    line-height: 0.1em;
    margin: 24px 20px;
    color: var(--primary);
}

.linkTextContainer .or span {
    font-weight: 400;
    background: #fff;
    padding: 0 10px;
}

.linkTextContainer .register {
    height: 42px;
    width: 40vw;
}
