.hamburger {
    display: none;
    color: #fff;
    padding: 0;
    margin: 0;
    margin-right: 16px;
}

.navmenu {
    display: flex;
    align-items: center;
}

.btn {
    margin: var(--spacing-sm);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 1001;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .navmenu {
        display: none;
    }
}
