.label {
    z-index: 1000;
    position: absolute;
    pointer-events: none;
    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
    top: -4px;

    &.floating {
        transform: translate(0, 12px) scale(0.8);
        color: #0a53e4;
    }

    &.filled {
        transform: translate(0, 12px) scale(0.8);
    }
}

.error {
    color: var(--danger);
    margin-top: 12px;
}
