<div style="height: 75%;">
<div align="center" style="margin-top: 5%;">
  <div style="margin:auto">
    <img src="../assets/welfare-logo-removebg.png" width="75px" height="auto">
    <img src="../assets/commit-logo.png" width="135px" height="auto">
  </div>
</div>
<mat-card class="mat-elevation-z8 container">
  <h2>Student Login</h2>

  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>

    <br>

    <button mat-raised-button class="full-width" color="primary" type="submit" (click)="onSubmit()">Login</button>
    <br>
    <p style="color:black;">{{errorString}}</p>

  </form>
</mat-card>
</div>
<div align="center">
  <p style="font-size: 11px; color: #666666; font-style: italic;">
    Note: This website is still in Beta stage. We believe there is still a lot of room for improvements and we need
    people like you. To contribute, <a href="https://www.nussucommit.com/">join NUSSU commIT</a>.
  </p>
</div>