.button {
    font-family: var(--font-family);
    font-size: var(--font-sm);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    border-style: none;
    padding: var(--spacing-sm) var(--spacing-base);
    background-color: var(--primary);
    color: var(--white);
    transition: filter 0.1s cubic-bezier(0.645, 0.045, 0.355, 1),
        box-shadow 0.1s cubic-bezier(0.645, 0.045, 0.355, 1),
        transform 0.1s ease;
    width: 100%;
    overflow-wrap: break-word;
    cursor: pointer;
    min-width: 100px;

    &:hover {
        // box-shadow: 0 2px 4px 0 var(--shadow);
        filter: brightness(120%);
    }

    &:active {
        transform: scale(0.98);
        filter: brightness(90%);
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
        &:hover {
            filter: brightness(100%);
        }
    }

    &.block {
        display: block;
    }

    &.shadow {
        box-shadow: 0 2px 4px 0 var(--shadow);
    }

    &.danger {
        background-color: var(--danger);
    }

    &.success {
        background-color: var(--success);
    }

    &.secondary {
        color: var(--primary);
        background-color: var(--primary-10);

        // To-do: add hover and active
    }

    &.outlined {
        background-color: var(--white);
        border-width: 1px;
        border-color: var(--primary);
        color: var(--primary);
        border-style: solid;

        &:hover {
            filter: brightness(95%);
        }

        &:active {
            transform: scale(0.96);
            filter: brightness(95%);
        }
    }

    &.text {
        font-weight: 400;
        background-color: transparent;
        color: var(--primary);
        width: auto;
        padding: 0;
        min-width: 0px;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--primary);
        }

        &:active {
            filter: brightness(90%);
            transform: none;
            box-shadow: none;
        }
    }

    &.small {
        font-size: var(--font-xs);
        padding: var(--spacing-xs) var(--spacing-base);
    }
}
