.storybook-button {
    font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}
.storybook-button--small {
    font-size: 12px;
    padding: 1em 2em;
}
.storybook-button--medium {
    font-size: 14px;
    padding: 1em 4em;
}
.storybook-button--large {
    font-size: 16px;
    padding: 0.75em 6em;
}
