<div style="padding:20px; width: 300px; margin: auto">
    <h1 mat-dialog-title style="padding-top: 10px">{{getDialogTitle()}}</h1>
    <form mat-dialog-content [formGroup]="voucherForm">
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Voucher ID</mat-label>
            <input matInput class="form-control" formControlName="voucher_id">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Available Date</mat-label>
            <input matInput required class="form-control" [matDatepicker]="availablepicker"
                formControlName="available_date">
            <mat-datepicker-toggle matSuffix [for]="availablepicker"></mat-datepicker-toggle>
            <mat-datepicker #availablepicker></mat-datepicker>
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Expiry Date</mat-label>
            <input matInput required class="form-control" [min]="voucherForm.controls.available_date.value"
                [matDatepicker]="expirypicker" formControlName="expiry_date">
            <mat-datepicker-toggle matSuffix [for]="expirypicker"></mat-datepicker-toggle>
            <mat-datepicker #expirypicker></mat-datepicker>
            <mat-error>This date has to be later than the posted date.</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <br>
        
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Organization</mat-label>
            <input matInput formControlName="organization">
            <mat-error>This field is required.</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error>This field is required.</mat-error>
        </mat-form-field>
        <br>
        
        <mat-form-field style="margin-top: 10px;" appearance="standard">
            <mat-label>Voucher Type</mat-label>
            <mat-select formControlName="voucher_type">
                <mat-option value="Food">Food</mat-option>
                <mat-option value="Sport">Sport</mat-option>
                <mat-option value="Fashion">Fashion</mat-option>
                <mat-option value="Others">Others</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <div *ngIf="voucherData.mode==='create'">
            <mat-label>Voucher Image</mat-label>
            <div 
                class="alert alert-warning" 
                *ngIf="voucherForm.controls.image.errors?.image"
                style="color: red; font-size: 12px;">
                please upload png/jpg/jpeg file
            </div>
            <input type="file" name="image" class="form-control" formControlName="image"
                (change)="onImageChange($event)">
        </div>
        <br>
        <div *ngIf="voucherData.mode==='edit'">
            <mat-label>Voucher Code List (optional)</mat-label>
            <div 
                class="alert alert-warning" 
                *ngIf="voucherForm.controls.code_list.errors?.code_list"
                style="color: red; font-size: 12px;">
                please upload csv file
            </div>
            <div 
                class="alert alert-warning" 
                *ngIf="false"
                style="color: red; font-size: 12px;">
                The number of emails is more than remaining vouchers.
            </div>
            <input type="file" name="code_list" class="form-control" formControlName="code_list"
                (change)="onFileChange($event)">
        </div>
        <br>
        <div *ngIf="voucherData.mode==='edit'">
            <mat-label>Voucher Email List</mat-label>
            <div 
                class="alert alert-warning" 
                *ngIf="voucherForm.controls.email_list.errors?.email_list"
                style="color: red; font-size: 12px;">
                please upload csv file
            </div>
            <input type="file" name="email_list" class="form-control" formControlName="email_list"
                (change)="onEmailListChange($event)">
        </div>
        <br>
    </form>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true">Cancel</button>
        <button mat-button *ngIf="hasData" (click)="onDelete()">Delete</button>
        <button mat-raised-button [disabled]="!voucherForm.valid" type="submit" color="primary"
            (click)="onSubmit()">Submit</button>
    </mat-dialog-actions>
</div>