table {
    border: 1px solid black;
}

.full-width{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: left;

}

.mat-elevation-z8 {
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    margin: auto;
    text-align: center;
    height: 60vh;
    width: 300px;
    top: 13%;
}

.h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}