<style>
  .sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }
</style>


<div class="sticky">
   <mat-toolbar color='primary' class='mat-elevation-z8'>
     <mat-toolbar-row>
       <span style="margin-left: 15px;">Evoucher</span>
     </mat-toolbar-row>
     <mat-toolbar-row style="height: 80%">
       <a mat-button routerLink='faculty' routerLinkActive='active'>Faculties</a>
       <a mat-button routerLink='organization' routerLinkActive='active'>Organizations</a> 
       <a mat-button routerLink='voucher' *ngIf="show" routerLinkActive='active'>Vouchers</a>
       <a mat-button routerLink='student' routerLinkActive='active'>Students</a>
       <a mat-button routerLink='webadmin' *ngIf="showWebAdmin" routerLinkActive='active'>Web Admin</a>
       <a mat-button routerLink='orgadmin' *ngIf="show" routerLinkActive='active'>Admin</a>
     </mat-toolbar-row>
   </mat-toolbar>
</div>

<router-outlet></router-outlet>