<div style="margin: 30px;" #theContainer>
    <h3>Hello, {{currentUserSubject.value.username}}</h3>
    <p>Click or tap on the tiles for more details.</p>

    <mat-grid-list cols="{{columnNum}}" rowHeight="300px" [gutterSize]="20">
        <mat-grid-tile *ngFor="let voucher of voucherData" class="mat-elevation-z8" (click)="tileOnClick(voucher)" style="max-width: 250px;">
            <div style="position: absolute; top: 0;">
                <div>
                    <img src={{voucher.image}} alt="image" style="width: 100%; height: 150px;" onerror="this.src='../../assets/nussu_logo.png';" >
                </div>
                <div style="margin-left: 20px">
                    <p>{{voucher.name}}</p>
                    <div>
                        <span style="font-size: 12px; align-items:flex-end;">Provided by {{voucher.organization}}</span>
                        <!--Add organizations here thanks :)-->
                        <br>
                        <span style="font-size: 12px; align-items:flex-end;">Promotion ends on {{voucher.expiry_date | date: 'dd
                            MMMM yyyy'}}</span>
                        <br>
                        <br>
                        <span style="font-size: 16px; align-items:flex-end;">{{voucher.code !== 'N/A' ? 'Your voucher code is: ' + voucher.code : 'Flash this eVoucher to redeem.'}}</span>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <!--<p style="font-style: italic; color: #777777;">(Showing 1 - {{voucherData.length}} of {{totalNumber}})</p>-->
    <!--<button style="margin-top: 10px; margin-bottom: 10px;" (click)="loadMore()"
        [disabled]="voucherData.length === totalNumber" mat-raised-button>Load More...</button>-->
</div>

<mat-toolbar style="width: 100%; position: static; bottom: 0;">
    <mat-toolbar-row align="center">
      <div style="margin:auto">
        <img src="../assets/welfare-logo-removebg.png" width="75px" height="auto">
        <img src="../assets/commit-logo.png" width="135px" height="auto">
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row style="margin-top: -0.5em;">
      <span class="year">©{{year}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row style="margin-top: -1em;">
      <p class="text">
        This website is still in Beta stage.
      </p>
    </mat-toolbar-row>
    <mat-toolbar-row style="margin-top: -1.2em; white-space: pre-wrap !important;">
      <p class="text">
        We believe there is still a lot of room for improvements and we need people like you.
        <br>
        To contribute, <a href="https://www.nussucommit.com/">join NUSSU commIT</a>.
      </p>
    </mat-toolbar-row>
  </mat-toolbar>
  